<section class="breadcrumbblock">
    <div class="container">
        <div>
            <ul class="breadcrumb">
                <li><i class="fa-solid fa-house"></i></li>
                <li><a asp-action="Home" asp-controller="Default">Home</a></li>
                <li><i class="fa-solid fa-angles-right"></i></li>
                <li><a asp-action="Index" asp-controller="Courses">Courses</a></li>
            </ul>
        </div>
    </div>

</section>
