<section id="Workwithus">
    <div class="container">
        <div class="work">
            <div class="workInfo">
                <p>Ready to get started?</p>
                <h2>Take Your Skills to the Next Level</h2>
                <a class="btn-theme" asp-controller="Home" asp-action="Index"><span>Work with us</span></a>
            </div>
            <div class="workimg">
                <img src="~/images/Courses/WorkWithUs/girlwithlaptop.svg" alt="Image of a woman sitting by her computer" />
            </div>
        </div>

    </div>

</section>